/* Глобальне скидання margin */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Скидання margin і left padding для списків */
ul,
ol {
  margin: 0;
  padding-left: 0;
}
/* зображення блочні й адаптивні */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ---------------- HEADER ---------------- */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.address-s {
  font-style: normal;
}
header {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  margin-right: 76px;
}

/* Our Advantages*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-card {
  width: calc((100% - 72px) / 4);
  text-align: center;
  padding: 16px;
}

/*  our team   */
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.team-card {
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  text-align: center;
  padding: 32px 16px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*our portfolio*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.portfolio-card {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 0 32px 0;
  border: 1px solid #e7e7e7;
  border-top: none;
  border-left: none;
  border-right: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.address-s {
  font-style: normal;
}
.address-inf {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.address-inf a {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  background-color: #ffffff;
}
.address-inf a:focus {
  color: #404bbf;
}
.address-inf a:hover {
  color: #404bbf;
}

.address-inf .under-line:hover {
  text-decoration: underline;
}

.special-studio {
  text-decoration: none;
  color: #2e2f42;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
  background-color: #ffffff;
  padding: 24px 0;
}

.special-studio:hover,
.special-studio:focus {
  color: #404bbf;
}

.logo-blue {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-black {
  color: #2e2f42;
}

.section-one {
  background-color: #2e2f42;
}

.section-one .main-header {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.07;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.btn-primary:focus {
  background-color: #404bbf;
}

.btn-primary:hover {
  background-color: #404bbf;
}

.section-two {
  background-color: #ffffff;
}

.section-two .head-advantages {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.portfolio {
  background-color: #ffffff;
}

.section-three {
  background-color: #f4f4fd;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  list-style: none;
  margin: 0;
}
.team-card {
  background-color: #ffffff;
  text-align: center;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-four .head-str {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.logo-blue {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.logo-black {
  color: #2e2f42;
}

.fin {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.fin .fin-paragraph {
  color: #f4f4fd;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.fin-paragraph {
  max-width: 264px;
  margin-top: 16px;
}
.logo-white {
  color: #f4f4fd;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
